* {
  font-family: "DotGothic16", sans-serif;
  background-color: rgb(255, 255, 255);
}

header {
  text-align: center;
  border: medium solid rgb(19, 180, 33);
  background-color: rgb(255, 0, 140);
  color: rgb(0, 196, 42);
  font-weight: bolder;
  font-size:xx-large;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: justify;
  flex-wrap: "wrap";
  align-items: "flex-start";
}

.heading {
  text-align: center;
  background-color: rgb(255, 238, 0);
  border: medium solid rgb(255, 230, 0);
  border-radius: 30px;
  padding: 8px;
  margin: 40px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 50px;
}
